body{
  font-family: Arial;
  color: #333;
  background: #f6f6f6;
}

.company{
  text-align: right;
}

.container{
  margin-top: 10%;
}

.message{
  text-align: center;
  color: #aaa;
  text-shadow: 1px 2px #fff;
}

.proceed{
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.proceed-button{
    color: white;
    background: green;
}

#console{
  padding: 40px 0px;
  text-align: center;
  color: #aaa;
  text-shadow: 1px 2px #fff;
  display: none;
}